version: "3.9"

services:
  api:
    build:
      context: api
      dockerfile: Dockerfile
    container_name: iprayio.api
    command: python api/manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    # env_file:
    #   - .env
    # depends_on:
    #   - db
    # restart: unless-stopped