version: "3.9"

services:
  api:
    build:
      context: api
      dockerfile: Dockerfile
    container_name: iprayio.api
    command: python api/manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    environment:
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_HOST: ${MYSQL_HOST}
      MYSQL_PORT: ${MYSQL_PORT}
    restart: unless-stopped

  ui:
    build:
      context: ./ui
      dockerfile: Dockerfile
    container_name: iprayio.ui
    ports:
      - 80:3000
    restart: unless-stopped

volumes:
  mysql_data:
