version: "3.9"

services:
  api:
    build:
      context: api
      dockerfile: Dockerfile
    container_name: iprayio.api
    command: gunicorn --chdir api --worker-tmp-dir /dev/shm -c api/iprayio/gunicorn/conf.py config.wsgi:application
    volumes:
      - .:/app
    ports:
      - 80:80
      - 8080:8080
    environment:
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_HOST: ${MYSQL_HOST}
      MYSQL_PORT: ${MYSQL_PORT}
      DEBUG: ${DEBUG}
    restart: unless-stopped

  ui:
    build:
      context: ./ui
      dockerfile: Dockerfile
    container_name: iprayio.ui
    ports:
      - 80:3000
    restart: unless-stopped

volumes:
  mysql_data:
